APP_FORM_RESPONSE_ID=
APP_SHEET_NAME=
GOOGLE_APPLICATION_CREDENTIALS=

WORKING_STORAGE_TYPE=

FIREBASE_PROJECT_ID=
WORKING_COLLECTION_NAME=
WORKING_DOCUMENT_NAME=

PROPOSAL_FOLDER_ID=
INDIVIDUAL_PROPOSAL_FOLDER_ID=
PANEL_PROPOSAL_FOLDER_ID=
ROUNDTABLE_PROPOSAL_FOLDER_ID=
