[Unit]
Description=Retrieve and parse submitted proposal
Requires=cotsparser.timer

[Service]
Type=oneshot
EnvironmentFile=/home/user/projects/cots2021/.env
WorkingDirectory=/home/user/projects/cots2021/
ExecStart=/home/user/.pyenv/versions/3.9.1/bin/python cots/__init__.py

[Install]
WantedBy=multi-user.target